:root {
  
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --ff-kaushan: 'Kaushan Script', cursive;
    
    --fw-reg: 300;
    --fw-med: 500;
    --fw-bold: 900;
    
    --clr-light: #FFFFF0;
    --clr-dark: #222020;
    --clr-accent: #ABE82B;
    --clr-accent-light: #F6FEF8;

    --clr-darkmode-accent: #ABE82B;
    --clr-darkmode-accent-light: #D7EADD;
    
    --clr-darkmode-light: #FFFFF0;
    --clr-darkmode-dark: #222020;
    
    --bg-gradient: linear-gradient(132deg, rgb(164, 164, 164) 0%, rgb(210, 210, 210) 100%);
    --bg-gradient-light: linear-gradient(132deg, rgb(204, 204, 204) 0%, rgb(239, 239, 239) 100%);
    
    --bg-gradient-darkmode: linear-gradient(132deg, rgba(18,19,17,1) 0%, rgba(35,37,30,1) 100%);
    --bg-gradient-darkmode-light: linear-gradient(132deg, rgba(31,33,30,1) 0%, rgba(45,47,38,1) 100%);
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.25);
    
    --bs-light: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
                0.125em 0.125em 0.25em rgba(0,0,0,.15);

    --bs-heavy: 0.5em 0.5em 1em rgba(0,0,0,.75),
                0.25em 0.25em 0.5em rgba(0,0,0,.50);

    --bs-left: -2px 0px 4px 0px rgba(0, 0, 0, 0.25);

    --bs-right: 2px 0px 4px 0px rgba(0, 0, 0, 0.25);

    --bs-inset: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 
                0px -4px 4px 0px rgba(0, 0, 0, 0.25) inset;   
}
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1rem;
        --fs-small: 0.75rem;
    }
}
body {
    background: var(--bg-gradient);
    color: var(--clr-dark);
    font: var(--fw-reg) var(--fs-body)/1.5 var(--ff-primary);
}

body.dark {
    background: var(--bg-gradient-darkmode);
    color: var(--clr-darkmode-light);
}
/* ======= */
/* BUTTONS */
/* ======= */

.btn {
    cursor: pointer;
    margin: 1em 0 0 0;
    border: none;
    border-radius: 35px;
    width: 100%;
    height: 35px;
    box-shadow: var(--bs-heavy);
}

.btn-accent {
    background-color: var(--clr-accent);
}
.btn-switch-container {
    position: relative;
    top: -25px;
    z-index: 3;
}
.btn-switch {
    width: 150px;
    height: 50px;
    background: var(--clr-accent-light);
    color: var(--clr-dark);
    box-shadow: var(--bs-inset);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
}
body.dark .btn-switch {
    background: var(--clr-darkmode-dark);
}
.btn-switch:after {
    content: "";
    position: absolute;
    height: 52px;
    width: 52px;
    top: -1px;
    border-radius: 50%;
    transition: left 0.3s ease-in-out;
    background-color: var(--clr-accent);
}
.btn-switch-middle:after {
    box-shadow: var(--bs-left), var(--bs-right);
    left: 49px;
}
.btn-switch-left:after { 
    left: -1px; 
    box-shadow: var(--bs-right);
}
.btn-switch-right:after { 
    left: 99px; 
    box-shadow: var(--bs-left);
}
.btn-switch button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    padding: 15px;
}
.btn-switch svg {
    z-index: 4;
    color: var(--clr-dark);
    max-height: 20px;
}
body.dark .btn-switch button > svg {
    color: var(--clr-accent);
}
body.dark .btn-switch-left button:nth-of-type(1) > svg {
    color: var(--clr-dark);
}
body.dark .btn-switch-middle button:nth-of-type(2) > svg {
    color: var(--clr-dark);
}
body.dark .btn-switch-right button:nth-of-type(3) > svg {
    color: var(--clr-dark);
}
/* ============ */
/* PAGE CONTENT */
/* ============ */

.page-content {
    display: flex;
    margin: 60px 0 0 0;
    padding: 35px 0 0 0;
}

/* ==== */
/* MAIN */
/* ==== */
body.dark main {
    background: var(--bg-gradient-darkmode-light);
}
main {
    margin: 0 .5em 0 0;
    flex-grow: 1;
    padding: 0 1em;
    border-radius: 0 1em 0 0;
    background: var(--bg-gradient-light);
    box-shadow: var(--bs-heavy);
}

/* ============ */
/* ASIDE SEARCH */
/* ============ */

body.dark .aside-search {
    background: var(--bg-gradient-darkmode-light);
}

.aside-search {
    position: relative;
    margin: 0 0 0 .5em;
    padding: 1em;
    border-radius: 1em 0 0 0;
    background: var(--bg-gradient-light);
    box-shadow: var(--bs-heavy);
}

@media (max-width: 1150px) {
    .aside-search {
        transition: right 0.3s ease-in-out;
        /* right: -200px; */
        background: blue;
    }
}
/* ===== */
/* FORMS */
/* ===== */

form .accent-btn {
    cursor: pointer;
    margin: 1em 0 0 0;
    background-color: var(--clr-accent);
    border: none;
    border-radius: 35px;
    width: 100%;
    height: 35px;
    box-shadow: var(--bs-light);
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
form .form-field {
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
}

form .form-field .icon-container {
    position: relative;
    height: 0;
}

form .form-field .icon-before {
    position: absolute;
    top: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 35px;
    background-color: var(--clr-accent);
    box-shadow: var(--bs-right);
}
form .form-field .icon-after {
    pointer-events: none;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 35px;
}
form .form-field .icon-after svg {
    padding: 0 10px;
    color: var(--clr-dark);
}

form .form-field svg {
    max-width: 15px;
    max-height: 15px;
    color: var(--clr-dark);
}
form .icon {
    position: absolute;
    padding: 14px 10px;
    max-width: 15px;
    max-height: 15px ;
    color: var(--clr-dark);
}
form label {
    margin: 1em 0 0 0;
    font-weight: var(--fw-bold);
}
body.dark form select {
    background: var(--clr-darkmode-accent-light);
}
form input, form select {
    background: var(--clr-accent-light);
    height: 35px;
    border: none;
    border-radius: 35px;
    box-shadow: var(--bs-inset);
    padding: 0 25px 0 45px;
}

form select {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
.login-form {
    max-width: 500px;
}

/* ========== */
/* USER PANEL */
/* ========== */

.profile-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--clr-accent);
    box-shadow: var(--bs-heavy);
}

/* ================= */
/* PROPERTY LISTINGS */
/* ================= */

.property-list {
    max-width: 1000px;
    display: grid;
    margin: 0 auto;
}

.property-card {
    margin: 1em 0 .5em;
    border-radius: 1em;
}

.property-card__content {
    position: relative;
    top: -50px;
    display: grid;
    grid-template-areas: "info" "agent";
}
.property-card__info {
    display: grid;
    grid-template-areas: "image title" "image address" "image summary" "image icons";
    grid-template-columns: 300px auto;
    max-height: 205px;
    z-index: 2;
    background: var(--clr-accent-light);
    box-shadow: var(--bs-inset);
    border-radius: 30px;
    order: -1;
}

.property-card__agent {
    grid-area: agent;
    padding: 1em;
    z-index: 1;
}

.property-card .btn-switch-container {
    left: 30px;
}
.property-card__image {
    grid-area: image;
    position: relative;
    top: 0;
    left: 0;
    height: 205px;
    width: 300px;
    z-index: 2;
}
.property-card__image img {
    border-radius: 30px;
    box-shadow: var(--bs-heavy);
}
.property-card__title {
    grid-area: title;
    font-size: var(--fs-h3);
    margin-top: 1rem ;
    padding: 0 1rem;
}
.property-card__address {
    grid-area: address;
    font-size: var(--fs-small);
    font-weight: var(--fw-bold);
    margin: 10px 0;
    padding: 0 1rem;
}
.property-card__summary {
    grid-area: summary;
    height: 64px;
    overflow: hidden;
    font-size: var(--fs-small);
    padding: 0 1rem;
}
.property-card__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    margin: 10px 0;
    padding: 0 1rem;
}
.property-card__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 70px;
    border-radius: 50px;
    background-color: var(--clr-accent-light);
    box-shadow: var(--bs-inset);
}
.property-card__icon:last-of-type {
    width: 100px;
}
.property-card__icon svg {
    color: var(--clr-dark);
    padding-right: 5px;
    max-width: 25px;
    max-height: 15px;
}
.property-card__price {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 165px;
    right: -10px;
}

.property-card__price-span {
    background-color: var(--clr-accent);
    width: 150px;
    height: 35px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--fw-bold);
    z-index: 1;
    box-shadow: var(--bs-light);
}
.property-card__price-option-span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -10px;
    padding-top: 10px;
    background-color: var(--clr-accent-light);
    width: 140px;
    height: 45px;
    border-radius: 0 0 17px 17px;
    box-shadow: var(--bs-heavy);
}

.property-card__bookmark {
    position: absolute;
    top: -10px;
    right: 50px;
    width: 50px;
    padding: 0;
}

.property-card__bookmark button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--clr-accent-light);
    box-shadow: var(--bs-inset);
}

.property-card__bookmark svg {
    max-width: 25px;
    max-height: 25px;
    color: var(--clr-dark);
}

.bookmark-button-solid svg {
    color: var(--clr-accent);
}

.property-card__agent {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 0 0 1em 1em;
    box-shadow: var(--bs-heavy);
    height: 100px;
    position: relative;
    top: -25px;
    padding-top: 45px;
    gap: 1em;
}

.property-card__agent img {
    width: 70px;
    max-height: 70px;
}
.property-card__agent p {
    display: inline-flex;
    align-items: center;
    margin-left: 1em;
    min-width: 135px;
    padding-right: 10px;
}
.property-card__agent svg {
    max-width: 30px;
    max-height: 30px;
    padding-right: 10px;
}
