.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 0 20px 0 70px;
    background: var(--bg);
    box-shadow: var(--bs);
    z-index: 100;
}

body.dark .nav {
    background: var(--bg-dark);
    color: var(--clr-light);
}

.nav,
.nav .nav-links {
    display: flex;
    align-items: center;
}

.nav {
    justify-content: space-between;
}

a {
    color: var(--clr-dark);
    text-decoration: none;
}
body.dark a {
    color: var(--clr-light);
}

.nav .logo {
    display: flex;
    font-size: var(--fs-h3);
    font-weight: var(--fw-med);
}

.nav .logo svg {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 15px;
    top: 10px;
}

.nav .nav-links {
    column-gap: 20px;
    list-style: none;
}

.nav .nav-links a {
    transition: all 0.2s linear;
}

.nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
}

.nav .search-icon {
    color: var(--clr-dark);
    font-size: 20px;
    cursor: pointer;
}

.nav .search-box {
    position: absolute;
    top: 0;
    right: 125px;
    height: 60px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
}

.nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
    z-index: 5;
}

.search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    left: 15px;
    color: var(--clr-accent);
    transform: translateY(-50%);
}

.search-box input {
    margin: 10px 0;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 40px;
    background-color: var(--clr-accent-light);
    color: var(--clr-dark);
    box-shadow: var(--bs-inset);
    padding: 0 20px;
}

body.dark .search-box input {
    background-color: var(--clr-darkmode-accent-light);
}

.nav .navOpenBtn,
.nav .navCloseBtn {
    display: none;
    width: 40px;
    height: 40px;
}

.nav-end {
    display: flex;
    gap: 1em;
}
.nav-end button {
    width: 30px;
    height: 30px;
}


/* responsive */
@media screen and (max-width: 1160px) {
    .nav .search-box {
        right: 150px;
    }
}

@media screen and (max-width: 950px) {
    .nav .search-box {
        right: 100px;
        max-width: 400px;
    }
}

@media screen and (max-width: 768px) {

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding: 60px 0 20px 0;
        row-gap: 30px;
        flex-direction: column;
        background: var(--bg-gradient-light);
        box-shadow: var(--bs);
        transition: all 0.4s ease;
        z-index: 100;
    }
    body.dark .nav .nav-links {
        background: var(--bg-gradient-darkmode);
    }

    .nav.openNav .nav-links {
        left: 0;
        box-shadow: var(--bs-heavy);
    }

    .nav .navOpenBtn {
        color: var(--clr-dark);
        font-size: var(--fs-body);
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 10px;
        right: 20px;
        color: var(--clr-dark);
        font-size: 25px;
        cursor: pointer;
    }

    body.dark .nav .navOpenBtn, 
    body.dark .nav .navCloseBtn {
        color: var(--clr-light);
    }

    .nav .search-box {
        top: calc(100%);
        max-width: calc(100%);
        right: 50%;
        transform: translateX(50%);
        box-shadow: var(--bs);
        padding: 0 20px;
        background: var(--bg-gradient-light);
    }
}

/* Dark mode toggler */
.theme-toggler {
    display: block;
    cursor: pointer;
    height: 30px;
    width: 50px;
    border-radius: 1em;
    position: relative;
    border: 3px solid var(--clr-accent);
    background: var(--clr-accent-light);
    box-shadow: var(--bs-inset);
}

body.dark .theme-toggler {
    background: var(--clr-darkmode-dark);
}

.theme-toggler:after {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    top: -1px;
    border-radius: 50%;
    transition: left 0.3s ease-in-out;
    background-color: var(--clr-accent);
    box-shadow: var(--bs-right), var(--bs-left);
}

.theme-toggler:after {
    left: -1px;
}

body.dark .theme-toggler:after {
    left: 19px;
}

/* ============ */
/* ASIDE SEARCH */
/* ============ */

body.dark .aside-search {
    background: var(--bg-dark);
}

.aside-search {
    position: absolute;
    right: 0;
    top: 60px;
    height: calc(100vh - 60px);
    padding: 1em;
    background: var(--bg);
    box-shadow: var(--bs-left);
    transition: all 0.3s ease-in-out;
    z-index: 99;
}

@media (min-width: 1150px) {
    .aside-search {
        position: relative;
        width: 260px;
        background: var(--bg-gradient-light);
        box-shadow: var(--bs-heavy);
        border-radius: 1em 0 0 0;
        top: 0;
        margin: 0 0 0 .5em;
    }
}